body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  display: inline-flex;
  flex-direction: column;
  gap: 35px;
  background-color: #1f2937;
  padding: 115px 52px;
}

#green-header-text {
  color: #4adf86;
}

p {
  margin-bottom: 51px;
}

.password-section {
  border-top: 1px solid #2f3e53;
  padding-top: 35px;
  text-align: center;
}

.suggestions {
  display: flex;
  gap: 24px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

button {
  padding: 9px 15px;
  border-radius: 6px;
  border: none;
  background-color: #10b981;
  color: white;
}

#suggestion-one,
#suggestion-two {
  height: 39px;
  width: 211px;
  border-radius: 6px;
  border: none;
  color: #55f991;
  background-color: #273549;
}

#confirmation-text {
  color: green;
  margin-left: 10px;
}
